* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

.subtitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}
.subtitle .subgtitle img {
  width: 100%;
}
@media (max-width: 1024px) {
  .subtitle {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .subtitle {
    font-size: 8px;
  }
}

.title {
  font-family: "Mulish", sans-serif;
  font-size: 45px;
  color: #1c2752;
  line-height: 58.5px;
  letter-spacing: 0.36px;
  font-weight: 400;
}

.description {
  color: #7e7e7e;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.36px;
}

.header {
  background-color: #f2f2f2;
}
.header .header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header .header__top .header__hours {
  font-size: 17px;
}
.header .header__social {
  display: flex;
  gap: 20px;
}
.header .header__social img {
  width: 100%;
  cursor: pointer;
}

.contact {
  padding-bottom: 20px;
}

.contact__container {
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.contact__container .contactus {
  display: flex;
}
.contact__container .contactus .contact__type {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  margin-left: 40px;
}
.contact__container .contactus .contact__type .contact__content--title {
  font-size: 20px;
  color: #1c2752;
  margin: 5px 0;
}
.contact__container .contactus .contact__type .contact__content--subtitle {
  font-size: 17px;
  color: #7e7e7e;
}

.menu__container {
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  margin-bottom: -50px;
  position: relative;
  z-index: 999;
  padding: 15px 45px;
  background-color: #ffb342;
}
.menu__container .menu__list {
  display: flex;
  list-style: none;
  gap: 50px;
  color: black;
}
@media (max-width: 1024px) {
  .menu__container .menu__list {
    gap: 20px;
  }
}
.menu__container .menu__list .menu__home {
  color: white;
}
.menu__container .menu__list .menu__item {
  cursor: pointer;
  font-size: 19px;
}
@media (max-width: 1024px) {
  .menu__container .menu__list .menu__item {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .menu__container .menu__list .menu__item {
    font-size: 10px;
  }
}
.menu__container .menu__button button {
  background-color: #1c2752;
  border: 2px solid #1c2752;
  padding: 30px 35px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .menu__container .menu__button button {
    padding: 15px 17px;
  }
}

.service__container {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding: 200px 120px;
  background-image: url("../img/service-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.service__container .service__subtitle {
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 600px;
}
@media (max-width: 1024px) {
  .service__container .service__subtitle {
    max-width: 500px;
  }
}
@media (max-width: 420px) {
  .service__container .service__subtitle {
    padding: 0;
  }
}
.service__container .service__title {
  font-family: "Mulish", sans-serif;
  font-size: 60px;
  max-width: 700px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .service__container .service__title {
    font-size: 25px;
  }
}
@media (max-width: 420px) {
  .service__container .service__title {
    font-size: 20px;
  }
}
.service__container .service__button button {
  background-color: #ffb342;
  border: 2px solid #ffb342;
  font-size: 18px;
  color: #1c2752;
  padding: 20px 40px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .service__container .service__button button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.experience__container {
  margin: 120px auto;
  justify-content: center;
  gap: 50px;
}
.experience__container .experience__image img {
  width: 100%;
}
.experience__container .experience__subtitle {
  max-width: 249px;
  color: #1c2752;
  background-color: rgba(244, 244, 244, 0.9);
}
.experience__container .experience__title {
  margin: 22px 0 12px 0;
}
.experience__container .experience__description {
  margin: 10px 0;
}
@media (max-width: 1024px) {
  .experience__container .experience__description {
    font-size: 14px;
  }
}
.experience__container .experience__content {
  max-width: 575px;
}
.experience__container .experience__list {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.experience__container .experience__list .experience__years {
  background-color: #f4f4f4;
}
.experience__container .experience__list .experience__years .experience__number {
  font-family: "Mulish", sans-serif;
  color: #ffb342;
  font-size: 80px;
  max-width: 198px;
  text-align: center;
  margin: 24px 50px;
}
.experience__container .experience__list .experience__years .experience__years--bottom {
  text-align: center;
  color: #1c2752;
  font-size: 20px;
  margin: 16px 25px 40px 25px;
}
@media (max-width: 1024px) {
  .experience__container .experience__list .experience__years .experience__years--bottom {
    font-size: 14px;
  }
}
.experience__container .experience__list .experience__advantage {
  max-width: 337px;
  font-size: 16px;
  color: #7e7e7e;
}
@media (max-width: 1024px) {
  .experience__container .experience__list .experience__advantage {
    font-size: 14px;
  }
}
.experience__container .experience__list .experience__advantage p {
  margin-top: 15px;
}

.commercial__container {
  background-color: #ffb342;
}
.commercial__container .commercial__main {
  flex-direction: column;
  align-items: center;
}
.commercial__container .commercial__main .commercial__content {
  text-align: center;
  max-width: 800px;
  margin-top: 100px;
}
.commercial__container .commercial__main .commercial__content .commercial__subtitle {
  background-color: rgba(244, 244, 244, 0.9);
  max-width: 200px;
  justify-content: center;
  margin: 0 auto;
}
.commercial__container .commercial__main .commercial__content .commercial__title {
  margin: 22px 0 12px 0;
}
.commercial__container .commercial__main .commercial__content .commercial__description {
  color: #1c2752;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
}
@media (max-width: 1024px) {
  .commercial__container .commercial__main .commercial__content .commercial__description {
    font-size: 14px;
  }
}
@media (max-width: 420px) {
  .commercial__container .commercial__main .commercial__content .commercial__description {
    font-size: 10px;
  }
}
.commercial__container .commercial__main .commercial__content .commercial__card {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px 0;
}
.commercial__container .commercial__main .commercial__content .commercial__card .commercial__item {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  font-size: 20px;
  gap: 10px;
  color: #1c2752;
  cursor: pointer;
  border: 1px solid #1c2752;
}
@media (max-width: 1024px) {
  .commercial__container .commercial__main .commercial__content .commercial__card .commercial__item {
    padding: 5px 25px;
  }
}
.commercial__container .commercial__main .commercial__content .commercial__card .commercial__item--first {
  background-color: white;
}
.commercial__container .commercial__main .commercial__electrical {
  background-color: white;
  z-index: 999;
  position: relative;
  box-shadow: -1px 6px 18px 0px rgba(0, 0, 0, 0.0901960784);
  margin-bottom: -90px;
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main {
  display: flex;
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--content {
  max-width: 624px;
  padding: 60px 60px 0 60px;
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--content .commercial__electrical--subtitle {
  justify-content: center;
  max-width: 259px;
  background-color: rgba(244, 244, 244, 0.9);
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--content .commercial__electrical--title {
  margin: 22px 0 12px 0;
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--content .commercial__electrical--description {
  max-width: 549px;
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--content .commercial__electrical--button button {
  font-size: 16px;
  border: 2px solid #ffb342;
  margin: 20px 0 70px 0;
  background-color: #ffb342;
  padding: 15px 45px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--content .commercial__electrical--button button {
    padding: 10px 23px;
  }
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--image {
  display: flex;
  justify-content: center;
  padding-right: 60px;
  align-items: center;
}
@media (max-width: 1024px) {
  .commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--image {
    padding: 20px;
  }
}
.commercial__container .commercial__main .commercial__electrical .commercial__electrical--main .commercial__electrical--image img {
  width: 100%;
}

.offers {
  background-color: #f4f4f4;
}
.offers .offers__container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.offers .offers__header {
  max-width: 840px;
  margin-top: 240px;
}
@media (max-width: 1024px) {
  .offers .offers__header {
    margin-top: 40px;
  }
}
.offers .offers__subtitle {
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 213px;
  margin: 22px auto;
  gap: 5px;
}
.offers .offers__description {
  text-align: center;
  margin: 12px 11px 40px 11px;
}
.offers .offers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 140px;
}
@media (max-width: 1024px) {
  .offers .offers__list {
    margin-bottom: 40px;
  }
}
.offers .offers__list .offers__item {
  max-width: 380px;
  background-color: #1c2752;
}
.offers .offers__list .offers__item .offers__item--content {
  text-align: left;
  padding: 30px 34px 30px 34px;
  color: white;
}
.offers .offers__list .offers__item .offers__item--content .offer__item--title {
  font-family: "Mulish", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 37.5px;
  letter-spacing: 0.37px;
  margin: 20px 0 15px 0;
  color: #ffb342;
}
@media (max-width: 1024px) {
  .offers .offers__list .offers__item .offers__item--content .offer__item--title {
    font-size: 18px;
  }
}
.offers .offers__list .offers__item .offers__item--content .offer__item--description {
  max-width: 299px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .offers .offers__list .offers__item .offers__item--content .offer__item--description {
    font-size: 12px;
  }
}

.reasons__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reasons__container .reasons__image {
  width: 100%;
  background-image: url("../img/reasons-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.reasons__container .reasons__image .reasons__image--content {
  font-family: "Mulish", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 560px;
  background-color: rgba(28, 39, 82, 0.8);
  margin: 140px 80px;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__image .reasons__image--content {
    margin: 80px 40px;
  }
}
.reasons__container .reasons__image .reasons__image--content .reasons__numbers {
  padding: 100px 80px;
}
@media (max-width: 420px) {
  .reasons__container .reasons__image .reasons__image--content .reasons__numbers {
    padding: 50px 40px;
  }
}
.reasons__container .reasons__image .reasons__image--content .reasons__numbers .reasons__number--item {
  display: flex;
  font-size: 18px;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #7e7e7e;
  color: white;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__image .reasons__image--content .reasons__numbers .reasons__number--item {
    font-size: 12px;
  }
}
.reasons__container .reasons__image .reasons__image--content .reasons__numbers .reasons__number--item .reasons__number--count {
  max-width: 100px;
  color: #1c2752;
  background-color: #ffb342;
  border: 1px solid #ffb342;
  padding: 16px 55px 16px 21px;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__image .reasons__image--content .reasons__numbers .reasons__number--item .reasons__number--count {
    padding: 10px;
  }
}
.reasons__container .reasons__image .reasons__image--content .reasons__numbers .reasons__number--item .reasons__number--name {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__image .reasons__image--content .reasons__numbers .reasons__number--item .reasons__number--name {
    margin-left: 5px;
  }
}
.reasons__container .reasons__main {
  width: 100%;
}
.reasons__container .reasons__main .reasons__content {
  margin: 73px 70px;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__main .reasons__content {
    margin: 30px 10px;
  }
}
.reasons__container .reasons__main .reasons__content .reasons__subtitle {
  background-color: rgba(244, 244, 244, 0.9);
  max-width: 213px;
  justify-content: center;
}
.reasons__container .reasons__main .reasons__content .reasons__title {
  margin: 23px 0 11px 0;
}
.reasons__container .reasons__main .reasons__content .reasons__list {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 25px;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__main .reasons__content .reasons__list {
    gap: 10px;
  }
}
.reasons__container .reasons__main .reasons__content .reasons__list .reasons__item {
  display: flex;
  gap: 20px;
}
.reasons__container .reasons__main .reasons__content .reasons__list .reasons__list--content h3 {
  color: #1c2752;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
@media (max-width: 1024px) {
  .reasons__container .reasons__main .reasons__content .reasons__list .reasons__list--content h3 {
    font-size: 14px;
  }
}

.projects__container {
  background-color: #1c2752;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 140px 0;
}
@media (max-width: 1024px) {
  .projects__container {
    padding: 40px 0;
  }
}
.projects__container .projects__subtitle {
  background-color: rgba(244, 244, 244, 0.9);
  display: flex;
  justify-content: center;
  padding: 0 20px;
  max-width: 173px;
}
.projects__container .projects__title {
  color: white;
  margin: 22px 0 40px 0;
}
.projects__container .projects__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.projects__container .projects__list .projects__item {
  background-color: white;
  max-width: 320px;
  padding: 21px;
  text-align: center;
}
.projects__container .projects__list .projects__item .projects__item--name {
  color: #1c2752;
  font-size: 24px;
  max-width: 221px;
  margin: 20px auto 5px;
}
.projects__container .projects__list .projects__item .projects__item--role {
  color: #7e7e7e;
  font-size: 15px;
}

.comments__container {
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  gap: 40px;
}
@media (max-width: 1024px) {
  .comments__container {
    margin-top: 20px;
  }
}
.comments__container .comments__customer {
  max-width: 591px;
  margin: 20px 0;
}
.comments__container .comments__customer .comments__subtitle {
  display: flex;
  justify-content: center;
  max-width: 174px;
  background-color: rgba(244, 244, 244, 0.9);
}
.comments__container .comments__customer .comments__title {
  margin: 22px 0 40px 0;
}
@media (max-width: 1024px) {
  .comments__container .comments__customer .comments__title {
    margin: 10px 0;
  }
}
.comments__container .comments__customer .comments__example {
  border: 1px solid #dcdcdc;
  padding: 30px;
}
.comments__container .comments__customer .comments__example .comments__example--header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.comments__container .comments__customer .comments__example .comments__example--header .comments__example--user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.comments__container .comments__customer .comments__example .comments__example--header .comments__example--user h3 {
  font-family: "Mulish", sans-serif;
  font-size: 22px;
  color: #1c2752;
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  .comments__container .comments__customer .comments__example .comments__example--header .comments__example--user h3 {
    font-size: 16px;
  }
}
.comments__container .comments__customer .comments__example .comments__example--header .comments__example--user p {
  color: #7e7e7e;
}
.comments__container .comments__customer .comments__example hr {
  margin: 20px 0;
}
.comments__container .comments__customer .comments__example .comments__example--description {
  margin: 20px 0;
  color: #7e7e7e;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  max-width: 509px;
  line-height: 27px;
  letter-spacing: 0.36px;
}
@media (max-width: 1024px) {
  .comments__container .comments__customer .comments__example .comments__example--description {
    font-size: 12px;
    margin: 5px 0;
  }
}
.comments__container .comments__customer .comments__example .comments__example--description span {
  color: #1c2752;
}
.comments__container .comments__customer .comments__example .comments__example--next {
  display: flex;
  gap: 20px;
}
.comments__container .comments__customer .comments__question {
  background-color: #ffb342;
  margin: 20px 0 0 0;
}
.comments__container .comments__customer .comments__question .comments__question--content {
  padding: 50px 40px;
  max-width: 511px;
}
@media (max-width: 1024px) {
  .comments__container .comments__customer .comments__question .comments__question--content {
    padding: 25px 20px;
  }
}
.comments__container .comments__customer .comments__question .comments__question--content .comments__question--subtitle {
  display: flex;
  justify-content: center;
  max-width: 174px;
  background-color: rgba(244, 244, 244, 0.9);
}
.comments__container .comments__customer .comments__question .comments__question--content .comments__question--title {
  font-family: "Mulish", sans-serif;
  color: #1c2752;
  font-size: 25px;
  font-weight: 400;
  margin: 21px 0 13px 0;
}
@media (max-width: 1024px) {
  .comments__container .comments__customer .comments__question .comments__question--content .comments__question--title {
    font-size: 16px;
    margin: 10px 0;
  }
}
.comments__container .comments__customer .comments__question .comments__question--content .comments__question--description {
  font-size: 18px;
  color: #1c2752;
  letter-spacing: 0.36px;
}
@media (max-width: 1024px) {
  .comments__container .comments__customer .comments__question .comments__question--content .comments__question--description {
    font-size: 12px;
  }
}
.comments__container .comments__customer .comments__question .comments__question--content .comment__question--footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: white;
  margin: 27px 0 0 0;
}
.comments__container .comments__appointment {
  max-width: 564px;
  margin-top: 35px;
}
@media (max-width: 1024px) {
  .comments__container .comments__appointment {
    margin-top: 0;
  }
}
.comments__container .comments__appointment .comments__appointment--subtitle {
  display: flex;
  max-width: 146px;
  justify-content: center;
  background-color: rgba(244, 244, 244, 0.9);
}
.comments__container .comments__appointment .comments__appointment--title {
  margin: 22px 0 40px 0;
}
@media (max-width: 1024) {
  .comments__container .comments__appointment .comments__appointment--title {
    margin: 10px 0;
  }
}
.comments__container .comments__appointment .comments__form {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  gap: 25px;
  margin: 50px 0;
  padding: 55px 20px;
}
@media (max-width: 1024px) {
  .comments__container .comments__appointment .comments__form {
    padding: 30px 10px;
  }
}
.comments__container .comments__appointment .comments__form .comments__input {
  margin: 0px 20px;
  padding: 20px 300px 20px 30px;
}
@media (max-width: 1024px) {
  .comments__container .comments__appointment .comments__form .comments__input {
    padding: 10px 150px 10px 15px;
  }
}
@media (max-width: 420px) {
  .comments__container .comments__appointment .comments__form .comments__input {
    padding: 5px 50px 5px 8px;
  }
}
.comments__container .comments__appointment .comments__form .comments__form--button {
  background-color: #ffb342;
  border: 2px solid #ffb342;
  padding: 20px;
  margin: 0px 20px;
  color: #1c2752;
  font-weight: 700;
  cursor: pointer;
}
.comments__container .comments__appointment .comments__form .input__description {
  padding: 19px 20px 109px;
}

.clients__container {
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
@media (max-width: 1024px) {
  .clients__container {
    margin-top: 10px;
  }
}
.clients__container .clients__subtitle {
  justify-content: center;
  align-items: center;
  background-color: rgba(244, 244, 244, 0.9);
  padding: 0 15px;
}
.clients__container .clients__title {
  margin: 20px 0 40px 0;
}
.clients__container .clients__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 120px;
}
@media (max-width: 1024px) {
  .clients__container .clients__images {
    justify-content: center;
    margin-bottom: 20px;
  }
}

.plan {
  background-color: #f4f4f4;
}
.plan .plan__container {
  flex-direction: column;
  align-items: center;
}
.plan .plan__container .plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
  width: 100%;
}
@media (max-width: 1024px) {
  .plan .plan__container .plan__header {
    margin-top: 20px;
  }
}
.plan .plan__container .plan__header .plan__header--text {
  max-width: 585px;
}
.plan .plan__container .plan__header .plan__subtitle {
  background-color: white;
  max-width: 159px;
  display: flex;
  justify-content: center;
}
.plan .plan__container .plan__header .plan__title {
  margin: 23px 0 53px 0;
}
@media (max-width: 1024px) {
  .plan .plan__container .plan__header .plan__title {
    margin: 10px 0;
  }
}
.plan .plan__container .plan__header .plan__header--text p {
  color: #7e7e7e;
  line-height: 27px;
  letter-spacing: 0.37px;
}
.plan .plan__container .plan__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .plan .plan__container .plan__list {
    justify-content: center;
  }
}
.plan .plan__container .plan__list .plan__item {
  background-color: white;
  max-width: 380px;
  color: #1c2752;
}
.plan .plan__container .plan__list .plan__item .plan__item--main {
  padding: 40px;
}
.plan .plan__container .plan__list .plan__item .plan__item--main .plan__item--title {
  font-size: 20px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
}
.plan .plan__container .plan__list .plan__item .plan__item--main .plan__item--content {
  display: flex;
  justify-content: space-between;
}
.plan .plan__container .plan__list .plan__item .plan__item--main .plan__item--content p {
  background-color: #ffb342;
  padding: 0 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plan .plan__container .plan__list .plan__item--subtitle {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 7px 0 30px 0;
}
.plan .plan__container .plan__list .plan__item--subtitle h2 {
  font-size: 32px;
}
@media (max-width: 1024px) {
  .plan .plan__container .plan__list .plan__item--subtitle h2 {
    font-size: 20px;
  }
}
.plan .plan__container .plan__list .plan__item--subtitle p {
  font-weight: 400;
  line-height: 35px;
  font-size: 15px;
  color: #7e7e7e;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .plan .plan__container .plan__list .plan__item--subtitle p {
    font-size: 10px;
  }
}
.plan .plan__container .plan__content--item {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.plan .plan__container .plan__button {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
}
.plan .plan__container .plan__button button {
  background-color: #ffb342;
  border: 2px solid #ffb342;
  font-size: 18px;
  padding: 20px 85px;
  color: #1c2752;
  cursor: pointer;
}
.plan .plan__container .plan__footer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin: 40px 0 100px 0;
}
@media (max-width: 1024px) {
  .plan .plan__container .plan__footer {
    margin: 20px 0;
    gap: 20px;
  }
}
.plan .plan__container .plan__footer .plan__footer--item {
  max-width: 585px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.plan .plan__container .plan__footer .plan__footer--item .plan__footer--description {
  margin-top: 9px;
}

.news__container {
  flex-direction: column;
  align-items: center;
}
.news__container .news__header {
  margin-top: 100px;
}
@media (max-width: 1024px) {
  .news__container .news__header {
    margin-top: 20px;
  }
}
.news__container .news__header .news__subtitle {
  justify-content: center;
  margin: 0 auto;
  max-width: 192px;
  background-color: #f4f4f4;
}
.news__container .news__header .news__title {
  margin: 22px 0 35px 0;
}
.news__container .news__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.news__container .news__main .news__garden,
.news__container .news__main .news__energy {
  max-width: 580px;
}
.news__container .news__main .news__garden .news__image,
.news__container .news__main .news__energy .news__image {
  width: 100%;
}
.news__container .news__main .news__card {
  display: flex;
  justify-content: center;
}
.news__container .news__main .news__card .news__card--first {
  background-color: #ffc368;
}
.news__container .news__main .news__card .news__card--second {
  background-color: #ffb342;
}
.news__container .news__main .news__card .news__card--item {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 20px 40px;
  margin-top: -30px;
}
.news__container .news__main .news__content {
  margin-top: 20px;
}
.news__container .news__main .news__content .news__content--title {
  font-family: "Mulish", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #1c2752;
  max-width: 547px;
}
@media (max-width: 1024px) {
  .news__container .news__main .news__content .news__content--title {
    font-size: 20px;
  }
}
.news__container .news__main .news__content .news__description {
  margin: 15px 0;
}
.news__container .news__main .news__content .news__more {
  color: #1c2752;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .news__container .news__main .news__content .news__more {
    font-size: 14px;
  }
}

.subscribe {
  background-color: #ffb342;
}
.subscribe .subscribe__container {
  padding: 140px 0 70px 0;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .subscribe .subscribe__container {
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    text-align: center;
  }
}
.subscribe .subscribe__container .subsribe__content {
  color: #1c2752;
  max-width: 410px;
}
.subscribe .subscribe__container .subsribe__content .subscribe__title {
  font-family: "Mulish", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
@media (max-width: 1024px) {
  .subscribe .subscribe__container .subsribe__content .subscribe__title {
    font-size: 20px;
  }
}
.subscribe .subscribe__container .subsribe__content .subscribe__description {
  line-height: 27px;
  letter-spacing: 0.36px;
  margin-top: 10px;
}
@media (max-width: 1024px) {
  .subscribe .subscribe__container .subsribe__content .subscribe__description {
    font-size: 12px;
  }
}
.subscribe .subscribe__container .subscribe__submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe .subscribe__container .subscribe__submit .subscribe__input {
  padding: 20px 85px 20px 30px;
  border: 1px solid white;
  background-color: transparent;
}
@media (max-width: 1024px) {
  .subscribe .subscribe__container .subscribe__submit .subscribe__input {
    padding: 10px 30px 10px 20px;
  }
}
.subscribe .subscribe__container .subscribe__submit .subscribe__input::-moz-placeholder {
  color: white;
}
.subscribe .subscribe__container .subscribe__submit .subscribe__input::placeholder {
  color: white;
}
.subscribe .subscribe__container .subscribe__submit .subscribe__button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 18px 35px;
}
@media (max-width: 1024px) {
  .subscribe .subscribe__container .subscribe__submit .subscribe__button {
    padding: 10px 20px;
  }
}

.footer {
  background-color: #1c2752;
}
.footer .footer__container {
  flex-direction: column;
  padding: 50px 0;
}
.footer .footer__container .footer__card {
  display: flex;
  width: 100%;
  align-items: flex-end;
  margin-bottom: 27px;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer .footer__container .footer__card {
    align-items: center;
  }
}
.footer .footer__container .footer__card .footer__logo {
  width: 100%;
}
.footer .footer__container .footer__card .footer__card--item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}
@media (max-width: 1024px) {
  .footer .footer__container .footer__card .footer__card--item {
    margin-bottom: 0;
  }
}
.footer .footer__container .footer__card .footer__card--item h4 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
.footer .footer__container hr {
  border: 1px solid #797979;
}
.footer .footer__container .footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.footer .footer__container .footer__menu .footer__menu--social {
  max-width: 401px;
  margin-top: 80px;
}
.footer .footer__container .footer__menu .footer__menu--social p {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
}
.footer .footer__container .footer__menu .footer__menu--social .footer__menu--icons {
  display: flex;
  gap: 20px;
  margin: 40px 0;
}
.footer .footer__container .footer__menu .footer__menu--social .footer__menu--icons img {
  cursor: pointer;
}
.footer .footer__container .footer__menu .footer__menu--social hr {
  border: 1px solid #797979;
  width: 300%;
}
.footer .footer__container .footer__menu .footer__menu--middle {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer .footer__container .footer__menu .footer__menu--middle nav {
  margin: 0 20px;
}
.footer .footer__container .footer__menu .footer__menu--middle p {
  color: #ffb342;
}
.footer .footer__container .footer__menu .footer__menu--middle ul {
  list-style: none;
}
.footer .footer__container .footer__menu .footer__menu--middle ul li {
  margin: 20px 0;
}
.footer .footer__container .footer__menu .footer__menu--middle hr {
  border: 1px solid #797979;
  margin-bottom: -60px;
}
.footer .footer__container .footer__menu .footer__menu--utility nav {
  margin: 0 20px;
}
.footer .footer__container .footer__menu .footer__menu--utility p {
  color: #ffb342;
}
.footer .footer__container .footer__menu .footer__menu--utility ul {
  list-style: none;
}
.footer .footer__container .footer__menu .footer__menu--utility ul li {
  margin: 20px 0;
}

@media (max-width: 1024px) {
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 14px;
  }
  .header__hours p {
    font-size: 14px;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__container .contact__contactus {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact__container .contact__contactus .contact__type {
    margin: 10px 0 0 0;
  }
  .menu__container {
    flex-direction: column;
    align-items: center;
  }
  .menu__container .menu__button {
    margin-top: 20px;
  }
  .menu__container .menu__button button {
    font-size: 10px;
  }
  .service__container {
    padding: 200px 30px;
  }
  .experience__container {
    margin: 20px auto;
    flex-direction: column;
    align-items: center;
  }
  .experience__container .experience__list {
    flex-direction: column;
    align-items: center;
  }
  .commercial__card {
    flex-direction: column;
    align-items: center;
  }
  .commercial__electrical--main {
    flex-direction: column;
    align-items: center;
  }
  .commercial__electrical--main .commercial__electrical--button button {
    padding: 10px 24px;
  }
  hr {
    display: none;
  }
  .reasons__container,
  .comments__container,
  .plan__header,
  .plan__footer,
  .news__main,
  .subscribe__container,
  .footer__menu,
  .footer__menu--middle {
    flex-direction: column;
  }
  .news__card--item {
    font-size: 14px;
  }
  .footer__card {
    flex-direction: column;
  }
  .subscribe__submit {
    flex-direction: column;
    gap: 10px;
  }
  .footer__menu--icons {
    justify-content: center;
  }
  .footer__menu--middle nav,
  .footer__menu--utility nav {
    font-size: 25px;
  }
}
@media (max-width: 420px) {
  .title {
    font-size: 20px;
  }
  .description {
    font-size: 10px;
  }
  .header__top {
    flex-direction: column;
  }
  .header__top .header__social {
    margin-top: 10px 0;
  }
}/*# sourceMappingURL=style.css.map */